* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin: 0;
}
/*Header*/
.header {
  width: 100%;
  height: 69px;
  display: flex;
  background-color: black;
  justify-content: space-between;
  top: 0px;
  border-bottom: 1px solid seashell;
  align-items: center;
}
.logo {
  height: 50px;
  justify-content: flex-end;
  padding-left: 10px;
  padding-top: 10px;
}
.nav a {
  list-style: none;
  color: seashell;
}

.nav li {
  display: inline-block;
  color: seashell;
  padding: 0 20px;
  
}
/*Mision section*/
.mission-container {
  background-image: url('https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  height: 700px;
  max-width: 1200px;
  margin: 40px auto 40px auto;
  display: flex;
}
.content {
  margin: auto;
  background: black;
  width: 100%;
}

/*Featured Section*/
#trend-container {
  display: inline-flex;
  max-width: 1000px;
  height: auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.trend img {
  height: 200px;
  width: 300px;
  padding: 10px;
}
.location-banner {
  height: 500px;
  max-width: 1200px;
  margin: 40px auto auto auto;
  padding-top: 20px;
  background-image: url('https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.text {
  font-size: 43px;
  font-weight: bold;
}
.box-container {
  max-width: 1050px;
  margin: 15px auto auto auto;
  display: flex;
  justify-content: space-between;
}
.box {
  height: 300px;
  padding: 20px;
  margin-bottom: auto;
  flex-basis: 30%;
  box-sizing: border-box;
  background-color: black;
  opacity: 0.8;
}
footer {
  display: block;
  float: left;
  padding-left: 20px;
}
