*{
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    
}
/*Header */
header

/* Mission*/
.mission{
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
    height: 700px;
    width: 1200px;
}